.notifications{
	background-color: rgb(21, 21, 21);
	border-radius: 10px;
	padding: 1rem;
	margin: 1rem 0;
}

.notification-content{
	color: #c2a40e;
	width: 100%;
}

.notifications:hover{
	cursor: pointer;
	background: #18242b;
}

.interact{
	background-color: rgb(1, 1, 1);
	color: white;
}

.interact:hover{
	background-color: rgb(51, 51, 51);
}
