.issue-container{

}

.issue-content{
	color: white;
	border-style: none;
	border-radius: 10px;
	margin: 1rem;
	padding: 2rem 0.5rem;
}

.answer-content{
	color: white;
	border-style: none;
	border-radius: 10px;
	margin: 1rem;
	padding: 2rem;
	background: rgb(0, 0, 0);
}

.issue-author{
	color: grey;
}

.issue-body{
	min-height: 10rem;
}

.issue-question{
	font-size: 2.07692308rem;
	font-weight: bold; 
}

.issue-description{
	color: #f2f2f2;
}

.info-details i{
	border-radius: 200px;
}

.upvoted-i{
	color: #d9437d;
}

.upvote-i{
	color: white;
}

.info-details i:hover{
	cursor: pointer;
	-webkit-box-shadow:0 0 40px rgba(255,255,255,0.8);
    box-shadow:0 0 40px rgba(255,255,255,0.8);
}

.answer-info i{
	border-radius: 200px;
}

.answer-info i:hover{
	cursor: pointer;
	-webkit-box-shadow:0 0 40px rgba(255,255,255,0.8);
    box-shadow:0 0 40px rgba(255,255,255,0.8);
}

.answer-count{
	color: antiquewhite;
	font-size: 20px;
}

.upvote-container{
	text-align: center;
	position: relative;
	height: 100%;
}

.upvote-content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.upvote-count{
	font-size: 4rem;
}

.user-poll{
	border-radius: 5px;
}

.user-poll:hover{
	cursor: pointer;	
}

.tag{
	border-radius: 5px;
	background-color: rgba(21, 21, 21, .9);
	display: inline-block;
	color: #c2a40e;
}

.tag:hover{
	background-color: #3a4750;
	cursor: pointer;
}

.small-upvote-count{
	border-style: solid;
	border-radius: 5px;
	text-transform: uppercase;
}

.ck{
	color: black !important;
}

.bounty-timer-active{
	background: #7579e7;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}

.bounty-timer-inactive{
	background: #edc988;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}

@media only screen and (max-width: 762px) {
	.info-details{
		float: none;
	}
}

@media only screen and (max-width: 576px) {
	.small-upvote-container{
		float: none !important;
	}
	.issue-question {
		font-size: 1.57692308rem;
	}
}