.noReco{
	color: white;
}
.friend{
	position: absolute;
	top: 50vh;
	left: 50vw;
	background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
	border-style: solid;
	border-color: #ececec;
	border-radius: 10px;
	height: 70vh;
	width: 25rem;
	text-align: center;
	color: #00adb5;
	margin-top: -35vh;
	margin-left: calc(10em - 12.5rem);
}

.friend:hover{
	background-color: #3a4750;
	cursor: pointer;
}

.friend-content{
	width: 22rem; 
	word-break: all;
}

.mobile-only{
	display: none;
}

.card-bottom{
	position: absolute;
	bottom: 0;
	height: 100px;
	width: 24rem;
	background-color: #ececec;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.card-bottom-content{
	padding: 0.5rem 1rem;
}

.card-email{
	font-size: 13px;
	color: grey;
	text-align: left;
	word-break: break-all;
}

.card-username{
	font-size: 27px;
	color: black;
	text-align: left;
	font-weight: bold;
	word-break: break-all;
}

.no-recommendations{
	color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 3rem;
    margin-left: -150px;
    width: 300px;
}

.recommend-card{
	display: inline-flex;
	flex-direction: column;
	background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
	box-shadow: 0 15px 35px 0 rgba(255, 255, 255, 0.2),
	0 5px 15px rgba(0, 0, 0, 0.06);
	transition: all .15s ease;
	border-radius: .5rem;
	color: black;
	border-radius: 20px;
	border-style: solid;
	border-color: #c9d6ff;
	position: relative;
	width: 30rem;
	height: 30rem;
	margin: 1rem;
}

.recommend-card:hover{
	box-shadow: 0 18px 35px 0 rgba(255, 255, 255, 0.12),
		0 8px 15px rgba(0, 0, 0, 0.06);
	transform: translateY(-5px);
}

.recommend-card img{
	width: 100%;
  	object-fit: cover;
  	border-radius: 20px;
  	max-height: 90%;
}

.image-container{
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
}

.image-container:after{
	position: absolute;
  	height: 100%;
  	width: 100%;
  	background-color: rgba(43.9,25.9,7.8,.5);
  	top: 0;
  	left: 0;
  	display: block;
  	content: "";
  	text-align: center;
}

.friend img{
	max-width: 100%;
  	object-fit: cover;
  	border-radius: 10px;
  	height: 100%;
}

.card-bottom-desktop{
	position: absolute;
	bottom: 0;
	height: 100px;
	width: calc(30rem - 5px);
	background-color: #ececec;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.card-bottom-desktop:hover{
	cursor: pointer;
}

.desktop-top-container{
	position: relative;
	height: 30rem;
}

.desktop-top-content{
	position: absolute;
	z-index: 3;
	font-weight: bolder;
	height: 21rem;
	color: white;
	top: 1rem;
	right: 1rem;
}

.similarity-number{
	font-size: 35px;
}

.similarity{
	background: rgba(21, 21, 71, 0.5);
	padding: 0.5rem;
	border-radius: 10px;
}

.request-buttons{
	position: absolute;
	bottom: 120px;
	z-index: 3;
	right: 1.5rem;
}

.coach-mark-overlay{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 500;
	background: rgba(12, 12, 12, 0.9)
}

.coach-mark-overlay i{
	font-size: 4rem;
}

.coach-text{
	margin: 2%;
	width: 8rem;
	padding: 0.4rem;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 5px;
	color: black;
}

.left-arrow{
	position: absolute;
    z-index: 501;
    top: 50%;
    color: white;
    left: 2%;
    margin-top: -6rem;
}

.right-arrow{
	position: absolute;
    z-index: 501;
    top: 50%;
    color: white;
    right: 2%;
    margin-top: -6rem;
    text-align: right;
}

.up-arrow{
	position: absolute;
    z-index: 501;
    left: 50%;
    color: white;
    top: 2%;
    margin-left: -3.5rem;
    text-align: center;
}

.down-arrow{
	position: absolute;
    z-index: 501;
    left: 50%;
    color: white;
    bottom: 2%;
    margin-left: -3.5rem;
    text-align: center;
}

@media (max-width: 68em) {
	.desktop-only{
		display: none;
	}
	.mobile-only{
		display: block;
	}
	.card-bottom{
		width: calc(80vw - 2px);
	}
	.friend{
		width: 80vw;
		margin-left: calc(2em - 40vw);
		z-index: 3;
	}
	.friend-content{
		width: 75vw; 
	}
	.coach-mark-overlay{
		display: block;
	}
}

@media (max-width: 671px) {
	.friend{
		margin-left: -40vw;
	}
}
