@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
  --main-bg: #303841;
  --bg-clr: #3a4750;
  --cyan: #00adb5;
  --bg-light: #18242b;
}

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background: var(--main-bg);
}

.signup-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--bg-clr);
  color: white;
  margin: 2rem;
  padding: 5rem 1rem;
  border-radius: 20px;
  position: relative;
  width: 50%;
  transform: translateX(50%);
}

.signup{
  font-size: 1.75rem;
}

form{
  width: 84%;
  margin: 5em auto;
}

label{
  font-size: 1.1rem;
  margin-left: 0.6em;
}

input{
  width: 100%;
  padding: 0.6em;
  margin: 0.8em 0 2em 0;
  outline: none;
  background: var(--main-bg);
  border: 2px solid var(--main-bg);
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
  font-size: 1.125rem;
}

.forgot{
  float: right;
  color: var(--cyan);
  font-size: 0.90rem;
  font-weight: 600;
  cursor: pointer;
  padding-top: 0.3em;
}

.btn{
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 0.8em;
  font-size: 1.125rem;
  background: var(--cyan);
  color: white;
}

.no-account{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: var(--bg-light);
  padding: 1.5em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.signin{
  border: none;
  border-radius: 5px;
  background: var(--cyan);
  padding: 0.8em 1em;
  font-size: 1rem;
  margin-left: 1em;
  color: white;
}

@media only screen and (max-width: 768px) {
  .signup-container {
    width: 90%;
    margin-left: -40%;
  }
} 