@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
  --main-bg: #303841;
  --bg-clr: #3a4750;
  --cyan: white;
  --bg-light: #18242b;
}

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  color: black !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  background-color: rgb(15, 15, 15) !important;
}

hr{
  background-color: grey;
}

.a-nav-right{
  margin: 2rem;
	text-align: left;
}

.rounded{
	padding: 0.4rem 1.5rem;
	border-radius: 25px !important;
	background-color: rgba(0,204,187, 0.5);
	border-style: none;
}

.signin-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  box-shadow: 0 15px 35px 0 rgba(255, 255, 255, 0.2),
    0 5px 15px rgba(0, 0, 0, 0.06);
  transition: all .15s ease;
  border-radius: .5rem;
  color: black;
  padding: 3rem 1rem;
  border-radius: 20px;
  border-style: solid;
  border-color: #c9d6ff;
  position: relative;
  width: 30rem;
  height: 50rem;
  left: 50%;
  margin-left: -15rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.signup-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  box-shadow: 0 15px 35px 0 rgba(255, 255, 255, 0.2),
    0 5px 15px rgba(0, 0, 0, 0.06);
  transition: all .15s ease;
  border-radius: .5rem;
  color: black;
  padding: 3rem 1rem;
  border-radius: 20px;
  border-style: solid;
  border-color: #c9d6ff;
  position: relative;
  width: 40rem;
  height: 55rem;
  left: 50%;
  margin-left: -20rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.landing-title{
  display: block;
  justify-content: center;
  flex-direction: column;
  transition: all .15s ease;
  border-radius: .5rem;
  color: white;
  padding: 5rem 2rem 0 0;
  border-radius: 20px;
  position: relative;
  margin-top: 15rem;
  width: 44rem;
  left: 10%;
  margin-top: -15rem;
  margin-bottom: 4rem;
  line-height: 100px;
  top: 50%;
}

.subheader{
  text-align: right;
  font-size: 1.4rem;
  font-weight: bold;
}

.subtitle{
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 3rem;
}

.app-name{
  font-size: 10rem;
  font-weight: 600;
}

.signup-container:hover{
  box-shadow: 0 18px 35px 0 rgba(255, 255, 255, 0.12),
    0 8px 15px rgba(0, 0, 0, 0.06);
  transform: translateY(-5px);
}

.signin-container:hover{
  box-shadow: 0 18px 35px 0 rgba(255, 255, 255, 0.12),
    0 8px 15px rgba(0, 0, 0, 0.06);
  transform: translateY(-5px);
}

.signin{
  font-size: 1.75rem;
}

form{
  width: 84%;
  margin: 1rem;
  margin-bottom: 5rem
}

label{
  font-size: 1.1rem;
  margin-left: 0.6em;
}

input{
  width: 100%;
  padding: 0.6em;
  margin: 0.8em 0 2em 0;
  outline: none;
  background: #E2E2E2 !important;
  border: 2px solid var(--main-bg);
  box-sizing: border-box;
  border-radius: 5px;
  color: navy !important;
  font-size: 1.125rem;
}

.forgot{
  float: right;
  color: navy;
  font-size: 0.90rem;
  font-weight: 600;
  cursor: pointer;
  padding-top: 0.3em;
}

.btn-submit{
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 0.8em;
  font-size: 1.125rem;
  background: var(--cyan);
  color: black;
  margin-top: 1rem;
}

.no-account{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 1.5em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.signup{
  border: none;
  border-radius: 5px;
  background: var(--cyan);
  padding: 0.8em 1em;
  font-size: 1rem;
  margin-left: 1em;
  color: black;
}

.email{
  margin-top: 1rem;
}

.password{
  margin-top: 1rem;
}

.rollno{
  margin-top: 1rem;
}

.username{
  margin-top: 1rem;
}

.subsection-header{
  text-align: center;
  margin-bottom: 2rem;
  color: #00adb5;
  font-family: 'Lato', sans-serif;
}

#overlay {
  backdrop-filter: blur(10px);
  position: fixed; /* Sit on top of the page content */
  opacity: 0;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

#vibe-animation{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  margin-top: -2rem;
  margin-left: -11rem;
  display: none;
  z-index: 3;
  font-weight: 600;
  font-size: 2rem;
}

#signin-animation{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  margin-top: -2rem;
  margin-left: -7.5rem;
  display: none;
  z-index: 3;
  font-weight: 600;
  font-size: 2rem;
}

@media only screen and (max-width: 1444px) {
  .app-name {
    font-size: 8vw;
  }
  .landing-title{
    width: 45vw;
    line-height: 80px;
    left: 2%;
  }
  .subtitle{
    font-size: 1.2rem;
    margin-left: 0;
    margin-top: 2rem;
  }
  .subheader{
    text-align: left;
  }
}

@media only screen and (max-width: 991px) {
  .signup-container {
    width: 80%;
    left: 0;
    margin-left: 10%;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .signin-container {
    width: 90%;
    left: 0;
    margin-left: 5%;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .landing-title{
    display: none;
  }
  form{
    margin-bottom: 7.5rem;
  }
}

.batch-drop .css-e56m7-control{
  background: white !important;
}

.stream-drop .css-e56m7-control{
  background: white !important;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 40px auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}