.notifications{
	background-color: rgb(21, 21, 21);
	border-radius: 10px;
	padding: 1rem;
	margin: 1rem 0;
}

.resend-container{
	padding: 1rem;
	margin: 1rem 0;
}

.Head{
	background-color: rgb(21, 21, 21);
	border-radius: 10px;
}
