.blog-title{
	font-size: 4.07692308rem;
	font-weight: bold; 
	color: antiquewhite;
}

pre code{
	background: 0 0;
    padding: 15px 20px 12px 22px;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    display: block;
    max-width: 100%;
    min-width: 100px;
    font-size: 16px;
    line-height: 1.75;
    color: #e83e8c !important;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #e83e8c;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color: black;
}
blockquote:before {
  color: #e83e8c;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}